*{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #ffffff;
  font-size: 2em;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: #085295 10px solid;
}

.navbar a {
  text-decoration: none;
  color: #062B5A;
  padding: 20px 0 20px;  
}

.navbar-Compare {
  font-size:3.2em;
}

footer{
  background-color: #000000;
  display: none;
}

footer p{
  color:#fff;
}

/* visualisation table */

.visu{
  display: flex;
  flex-wrap: wrap;
}

.side_menu{
  background-color: #085295;
  width: 20%;
}

.title-dclasses {
  text-align: center;
  color:white;
}

.form{
  padding:15px 0px 15px 0px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #062B5A, rgba(255, 255, 255, 0)), linear-gradient(to top, rgba(255, 255, 255, 0), #062B5A, rgba(255, 255, 255, 0));
  color: #ffffff;
  font-size: 1.3em;
}

input.check{
  cursor:pointer;
  width: 30px;
  height: 30px;
  align-items: center;
}

.content{
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* filter panel */

.filter{
  background-image: linear-gradient(to bottom, #085295, #062B5A);
  display: flex;
  color: #ffffff;
  width: 70%;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

}
.filter #Search{
  height: 40px;
  width: 500px;
  font-size: 1.2em;
  border: none;
  border-radius: 150px 0px 0px 150px;
  padding-left: 7px;
}

.content-filter{
  display: flex;
  align-items: center;
}

.search{
  display: flex;
	justify-content: center;
	align-items: center;
  padding: 20px;
}

.filter #btn{
  background-color: #baccdb;
  padding: 10px;
  height: 22px;
  border-radius: 0px 150px 150px 0px;
}

#btn {
  width: 10%;
}

.button{
  display: flex;  
  width: 60%;
  justify-content: space-around;
}

#dwnlF, #dwnlB, #showP, #show, #vld, #log, #reset{
  cursor:pointer;
  background-color: #fff;
  height: 40px;
  font-size: 0.9em;
  border:none;
  color: #062B5A;
  font-weight: bold;
  border-radius: 2px;
}

#vld {
  margin-right:35px;
}

#vld:hover, #dwnlF:hover, #dwnlB:hover, #showP:hover, #show:hover, #log:hover, #reset:hover{
  color: white;
  transition:0.1s ease-in-out;
}

#vld:hover {
  background-color: #0a851b;
}

#reset:hover {
  background-color:#721c24;
}

#dwnlF:hover, #dwnlB:hover, #showP:hover, #show:hover, #log:hover{
  background-color: #062B5A;
}

#multiple{
  display: none;
  background-color: #085295;
}

.multiple-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.multiple-content select{
  width: 200px;
  height: 100px;
  overflow-y: auto;
}

.multiple-content .flexSelect{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 1.2em;
}

.button-vld{
  padding-top: 50px;
}

/* table */

.tab{
  width: 95%;
  background-color: #ffffff;
  border: #062B5A 2px solid; 
}

.tab table{
  border-collapse: collapse;
  text-align: center;
}

.tab th{
  background-color: #baccdb;
  color: #062b5a;
}

.tab th, .tab td{
  border-width: 1px; 
  border-bottom: #062B5A 1px solid;
  border-right: #baccdb 1px solid;
  padding: 9px;
}

.tab th{
  border-right: #062B5A 1px solid;
}

.tab li{
  list-style: none;
  padding:2px 0px 2px 0px;
}

/* detail page */

.bodydetail{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlefile{
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlefile h1{
  font-size: 4em;
}

.btn button {
  cursor: pointer;
  width:110px;
  padding: 5px 0px 5px 0px;
  margin: 5px 0px 5px 0px;
  border-radius: 2em;
  border: none;
  color:#fff;
  font-weight:bold;
  font-size: 1.2em;
}

#btndwnl {
  background-color: #44c767;
}

#btndwnl:hover {
  background-color: #35964e;
  transition: 0.1s ease-in-out;
}

#btnremove {
  background-color: #c74444;
}

#btnremove:hover {
  background-color: #963535;
  transition: 0.1s ease-in-out;
}

#btnmodify {
  background-color: #c78544;
}

#btnmodify:hover {
  background-color: #966235;
  transition: 0.1s ease-in-out;
}

.contentfile{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
}

.divmodel, .divassumptions{
  width: 25%;
  padding-left: 0.2%;
  padding-right: 0.2%;
  background-color: #ffffff;
  border-style: solid;
  text-align: justify;
}

.divmodel ul, .divassumptions  ul{
  padding:0px 10px 0px 10px;
}

.divmodel li, .divassumptions  li{
  list-style-type:none;
  font-size: 1.3em;
}

.divmodel span, .divassumptions span{
  font-weight: bold;
}

.divmodeldesc, .divassumptionsdesc {
  padding-top: 5px;
  text-justify: distribute;
  margin-left:10px;
}

.divcompact{
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  background-color: #ffffff;
  justify-content: space-between; 
  border-style: solid;
}
  
.divname, .divmethod, .divref, .divconstrain{
  width: 45%;
  padding: 2%;
  font-size: 1.3em;
}
  
.titlecat{
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
}

/* login page */

.box-login{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.box-login h1 {
  color:#ffffff;
}

.lgn{
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #085295 ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user, .psw {
  background-color: #baccdb;
  display: flex;
  margin-bottom: 35px;
}

.img-person input, .img-lock input{
  border:none;
}

.user input, .psw input{
  font-size: 1.3em;
}
.img-person img, .img-lock img{
  width: 20px;
  padding: 10px;
}

.btn-log{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6em;
}

/* add & modify form */

.allcontent, .modify-page {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1%;
  font-size: 1.3em;
}

.allcontent p, .modify-page p {
  margin-top: 1px;
}

.upload-form, .upload-form-file, .nscontent, .namecontent, .inputadd, .inputRef, 
.constraincontent, .refcontent, .modelcontent, .asscontent, .form-name,
.form-ref, .form-method, .form-constrain {
  margin-bottom: 20px;
}

.upload-form, .upload-form-file {
  display:flex;
  justify-content: center;
}

.validation-button {
  margin-top: 20px;
  text-align: center; 
}

.table-source, .table-reference, .table-modeldep {
  overflow-x: auto;
}

.table-source table, .table-reference table, .table-modeldep table {
  width: 100%;
  border-collapse: collapse;
}

.table-source th, .table-source td, .table-reference th, .table-reference td, .table-modeldep th, .table-modeldep td, .table-assumption th, .table-assumption td{
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

#addN, #addR {
  display: none;
}

.divsepar {
  margin-bottom: 10px;
}

.inputadd, .inputRef{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.file-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
}

.submit-button, .load-button {
  margin-left:10px;
}

.submit-button, .load-button, .addN, .addR, .addMA, .removeMA, .createSRV, .updateBtn, .addNew {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addMA, .removeMA, .createSRV, .updateBtn, .addNew {
  margin: 0px 10px 20px 0px;
}

.addN, .addR, .addNew {
  background-color: #007bff;
  color: #fff;
}

.submit-button, .addMA, .createSRV {
  background-color: #28a745;
  color: #fff;
}

.updateBtn, .load-button {
  background-color: #ffc107;
  color: #fff;
}

.removeMA {
  background-color: #dc3545;
  color: #fff;
}

.updateBtn:disabled, .addNew:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.addN:hover, .addR:hover, .addNew:hover {
  background-color: #0056b3;
}

.submit-button:hover, .addMA:hover, .createSRV:hover {
  background-color: #218838;
}

.updateBtn:hover, .load-button:hover {
  background-color: #e0a800;
}

.removeMA:hover {
  background-color: #c82333;
}

.btnadd, .addRef {
  margin-top: 20px;
}

.messageForLoad {
  font-size: 14px;
}

#createDep:disabled, #deleteDep:disabled, #createAss:disabled, #deleteAss:disabled, #validFormButton:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.nscontent label, .divsepar label, .methodcontent label, .constraincontent label, 
.refcontent label, .modelcontent label, .asscontent label,
.formfilename label, .btnadd label, .modify-name label,
.form-ref label, .form-method label, .form-constrain label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.insertinput, .modifyinput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.insertinput:focus, .modifyinput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#errorInsert, .err{display: none;}

.error, #errorInsert p, .err{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* info, home & plot page */

.email, .team, .citation, .acknowledgments, .homepage {
	padding: 1%;
	font-size: 1.5em;
  text-align:justify;
}

.tab-team {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.tab-team table {
  width: 70%;
  margin:0 auto;
}

.tab-team td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.tab-team tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tab-team tbody tr:hover {
  background-color: #ddd;
}

#plot-container, #go-back-container {
  display:flex;
  align-items: center;
  justify-content: center;
}

#go-back {
  text-decoration: none;
  cursor:pointer;
  background-color: #062B5A;
  padding:10px;
  border:1px solid #062B5A;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
}

#go-back:hover {
  background-color:#fff;
  color:#062B5A;
  transition: 0.1s ease-in-out;
}

#sigmaContainer, #filesContainer {
  border:1px solid black;
}