{% extends "compare/layout.html" %}
{% block title %}
Constraints 
{% endblock %}
{% block content %}

<div class="homepage">

    <h2>Types of constraints</h2>

    <p>
        <i class="fa-solid fa-weight-hanging"></i>
        <b>Mass : </b> Some text
    </p>

    <p>
        <i class="fa-solid fa-ruler"></i>
        <b>Radius : </b> Some text
    </p>

    <p>
        <i class="fa-solid fa-wave-square"></i>
        <b>Tidal deformability : </b> Some text
    </p>

    <p>
        <i class="fa-solid fa-arrows-to-circle"></i>
        <b>Compactness : </b> Some text
    </p>

</div>

{% endblock %}