{% extends "compare/layout.html" %}
{% block title %}
Detail 
{% endblock %}
{% block content %}


<div class="bodydetail">

<div class="titlefile">
        <h1>{{queryall.id_name.namedb}}</h1>
        <h2>{{queryall.filename}}</h2>
    <div class="btn">
        <button type="button" id="btndwnl" value="Download">Download</button>

        {% if user.is_authenticated %}
            <button type="button" id="btnremove" value="{{queryall.filename}}" onclick="confirmDelete()" >Remove</button>
            <form action="{% url 'modify' queryall.filename %}">
                <input type="submit" value="Modify"id="btnmodify"></button>
            </form>
        {% endif %}
        
    </div>
</div>


<div class="contentfile">

<div class="divmodel">

    <p class="titlecat">Models</p>
    <ul>
    {% for mo in queryMo %}
        <li>
            {% if mo.id_model.dependenciesprimary != None %}
                <span><u>{{mo.id_model.dependenciesprimary}}</u>: {{mo.id_model.dependenciessecondary}} <br> </span>
                {{mo.id_model.dependenciesdescription}} <br>
                {% for ads_short, ads_link in mo.id_model.reflist %}
                    <a href="https://ui.adsabs.harvard.edu/abs/{{ads_link}}/abstract" target="_blank"> {{ads_short}}</a><br>
                {% endfor %}
            {% else %}
                <span>No model dependencies...</span>
            {% endif %}
        </li>
        <br>
    {% endfor %}
    </ul>
</div>

<div class="divassumptions">

    <p class="titlecat">Assumptions</p>
    <ul>
    {% for as in queryAs %}
        <li>
            {% if as.id_assumptions.assumptionsprimary != None %}
                <span><u>{{as.id_assumptions.assumptionsprimary}}</u>: {{as.id_assumptions.assumptionssecondary}} <br></span>
                {{as.id_assumptions.assumptionsdescription}} <br>
                {% for ads_short, ads_link in as.id_assumptions.reflist %}
                    <a href="https://ui.adsabs.harvard.edu/abs/{{ads_link}}/abstract" target="_blank"> {{ads_short}}</a><br>
                {% endfor %}
            {% else %}
                <span>No assumptions...</span>
            {% endif %}
        </li>
        <br>
    {% endfor %}
</ul>
</div>

<div class="divcompact">

<div class="divname">

<p class="titlecat">Source info</p>

    <p>{{queryall.id_name.namedb}}</p>
    <p>{{queryall.id_name.classdb}}</p>
    <p>{{queryall.id_name.namesimbad}}</p>
    <p>{{queryall.id_name.classsimbad}}</p>
    <p>{{queryall.id_name.ra}}</p>
    <p>{{queryall.id_name.declination}}</p>
    <p>{{queryall.id_name.localisationfile}}</p>
    <p>{{queryall.id_name.eventdate}}</p>

</div>

<div class="divmethod">

    <p class="titlecat">Method</p>
    
        <p>{{queryall.id_method.method}}</p>
        <p>{{queryall.id_method.method_specific}}</p>
        <p>{{queryall.id_method.datadate}}</p>
        <p>{{queryall.id_method.processinfinfo}}</p>
    
</div>

<div class="divref">

    <p class="titlecat">References</p>
        <p>DOI: <a href="https://doi.org/{{queryall.id_ref.doi}}" target="_blank">{{queryall.id_ref.author}} {{ queryall.id_ref.refyear}}</a></p>
        <p>ADS: <a href="https://ui.adsabs.harvard.edu/abs/{{queryall.id_ref.shortlink}}/abstract" target="_blank"> {{queryall.id_ref.short}}</a></p>
        <details>
            <summary>Bibtex</summary>
            <p>{{queryall.id_ref.bibtex}}</p>
        </details>
        <p>Data Repository DOI: {{queryall.id_ref.repositorydoi}}</p>
        <p>Data link: {{queryall.id_ref.datalink}}</p>
    
</div>

<div class="divconstrain">
    
    <p class="titlecat">Constraints</p>
    
        <p>Type: {{queryall.id_constrain.constraintype}}</p>
        <p>Variable: {{queryall.id_constrain.constrainvariable}}</p>
        <p>Version: {{queryall.id_constrain.constrainversion}}</p>
    
    
</div>


</div>

</div>
</div>
{% endblock %}

