{% extends "compare/layout.html" %}
{% block title %}
Info
{% endblock %}
{% block content %}

<div class="email">
    <h3><u>Email</u>:</h3>
    <p> Please send an email  at <strong>compare@comp.are</strong> for more info.</p>
</div>

<div class="team">
    <h3><u>Team</u>:</h3>
    <p>The team behind CompARE gathers different experts in neutron star physics and astrophysics,
       with observers (X-ray, radio, etc.), gravitational waves researchers, and nuclear physics modellers.
    </p>
    <div class="tab-team">
        <table>
            <tbody>
                <tr>
                    <td>Sebastien Guillot</td>
                    <td>Thankful Cromartie</td>
                    <td>Jocelyn Read</td>
                </tr>
                <tr>
                    <td>Bruno Giacomazzo</td>
                    <td>Jérôme Margueron</td>
                    <td>Ingo Tews</td>
                </tr>
                <tr>
                    <td>Tuomo Salmi</td>
                    <td>Anna Watts</td>
                    <td>Serena Vinciguerra</td>
                </tr>
                <tr>
                    <td>Alessio Marino</td>
                    <td>Francesco Coti Zelati</td>
                    <td>Constanza Echiburú</td>
                </tr>
                <tr>
                    <td>Denis Gonzalez</td>
                    <td>Joonas Nättilä,</td>
                    <td>Rahul Somasundaram</td>
                </tr>
                <tr>
                    <td>Geert Raijmakers</td>
                    <td>Devarshi Choudhury</td>
                    <td>Collin Capano</td>
                </tr>
                <tr>
                    <td>Debarati Chatterjee</td>
                    <td>Melissa Mendes</td>
                    <td>Coleman Miller</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="citation">
    <h3><u>How to cite / what to cite</u>:</h3>
    <p>
        If you use CompARE to download data sets, please do not forget to cite us: CompARE et al. 2024.  Please cite also the relevant publications for the data sets you downloaded and used.  The DOI, ADS links and BibTeX entries are provided.
    </p>
</div>

<div class="acknowledgments">
    <h3><u>Acknowledgements:</u></h3>
    <p>
        CompARE was born during the ECT* workshop "Neutron stars as multi-messenger laboratories for dense matter"
        held in Trento in June 2022. This workshop was made possible thanks to the support of ECT*, EMMI, Strong2020,
        the INFN, and the CNRS via the INSU-PNHE programme.  We also acknowledge the support of the CNES.
    </p>
</div>

{% endblock %}
