<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'compare/site.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'compare/script.js' %}"></script>
    <script src="{% static 'compare/scriptAdd.js' %}"></script>
    <link rel="shortcut icon" href="#">
</head>

<body>

<div class="navbar">
    <a href="{% url 'home' %}" class="navbar-Compare"><img src="../static/compare/logo.png" width=300em ></a>
    <a href="{% url 'home' %}" class="navbar-brand">Home page</a>
    <a href="{% url 'visu' %}" class="navbar-brand">Data table</a>
    <a href="{% url 'insert' %}" class="navbar-brand">Add entry</a>
    <a href="{% url 'info' %}" class="navbar-brand">More info</a>
    {% if user.is_authenticated %}
        <span>Welcome {{ user.get_username }} &emsp;
            <a href= "{% url 'logout' %}" class="navbar-brand">Logout</a></span>
    {% else %}
        <a href="{% url 'login' %}" class="navbar-brand">Login</a>
    {% endif %}
</div>

<div class="body-content">
    {% block content %}
    
    {% endblock %}
    <footer>
        <p>footer (mettre plan du site et autres informations pertinentes)</p>
    </footer>
</div>
</body>
</html>