{% extends "compare/layout.html" %}
{% block title %}
Modify
{% endblock %}
{% block content %}
{% load static %}
{% if messages %}
    {% for m in messages %}
        <div class="error">{{m}}</div>
    {% endfor %}
{% endif %}

<br><br>

<div id="errorInsert">
    <p id='test'></p>
</div>

<div class="modify-page">
    <h1><u>{{queryall.id_name.namedb}}</u>: <br> {{queryall.filename}}</h1>
    <div class="modify-name">
        <h3>Name:</h3>
        <p class="edit-paragraph">Click to edit&nbsp;<input type="image" class="enable-name" src="{% static 'compare/images/pencil.svg' %}" onclick="enable(this)"></p>
        <div class="form-name">
            <form method="post">
                {% csrf_token %}
                <label>Namedb</label>
                <input type="text" name='namens' class="enable-name modifyinput" value="{{queryall.id_name.namedb}}" placeholder="{{queryall.id_name.namedb}}" disabled>
                <label>Class</label>
                <input type="text" name='classns' class="modifyinput" value="{{queryall.id_name.classdb}}" placeholder="{{queryall.id_name.classdb}}" disabled>
                <label>NameSimbad</label>
                <input type="text" name='namesim' class="enable-name modifyinput" value="{{queryall.id_name.namesimbad}}" placeholder="{{queryall.id_name.namesimbad}}" disabled>
                <label>ClassSimbad</label>
                <input type="text" name='classsim' class="enable-name modifyinput" value="{{queryall.id_name.classsimbad}}" placeholder="{{queryall.id_name.classsimbad}}" disabled>
                <label>RA</label>
                <input type="number" name='ra' class="enable-name modifyinput" value="{{queryall.id_name.ra}}" placeholder="{{queryall.id_name.ra}}" disabled>
                <label>DEC</label>
                <input type="number" name='dec' class="enable-name modifyinput" value="{{queryall.id_name.declination}}" placeholder="{{queryall.id_name.declination}}" disabled>
                <label>Localisation File</label>
                <textarea name='localisation' class="enable-name modifyinput" placeholder="{{queryall.id_name.localisationfile}}" disabled>{{queryall.id_name.localisationfile}}</textarea>
                <label>Event Date</label>
                <input type="date" name='event' class="enable-name modifyinput" value="{{queryall.id_name.eventdate}}" placeholder="{{queryall.id_name.eventdate}}" disabled>
                <input type="hidden" name="name">
                <input type="submit" name="update" class="enable-name updateBtn" value="Update" disabled>
            </form>
        </div>
        <div class="info-name">
            <p><i>Other file(s) linked to this Name</i>:</p>
                {% if queryName.count < 2 %}
                    <p>&emsp;None</p>
                {% endif %}
            <ul>
                {%for qn in queryName %}
                    {% if qn.filename != queryall.filename %}
                    <li>
                        <a href="{% url 'detail' qn.filename %}" target="_blank">{{qn.filename}}</a>
                    </li>

                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    <div class="modify-ref">
        <h3>Reference:</h3>
        <p class="edit-paragraph">Click to edit&nbsp;<input type="image" class="enable-ref" src="{% static 'compare/images/pencil.svg' %}" onclick="enable(this)"></p>
        <div class="form-ref">
            <form method="post">
                {% csrf_token %}
                <label>Author</label>
                <input type="text" name="author" class="enable-ref modifyinput" value="{{queryall.id_ref.author}}" placeholder="{{queryall.id_ref.author}}" disabled>
                <label>Ref Year</label>
                <input type="number" name="refyear" class="enable-ref modifyinput" value="{{queryall.id_ref.refyear}}" placeholder="{{queryall.id_ref.refyear}}" disabled>
                <label>Doi</label>
                <textarea name="doi" class="enable-ref modifyinput" placeholder="{{queryall.id_ref.doi}}" disabled>{{queryall.id_ref.doi}}</textarea>
                <label>Short</label>
                <input type="text" name="short" class="enable-ref modifyinput" value="{{queryall.id_ref.short}}" placeholder="{{queryall.id_ref.short}}" disabled>
                <label>Bibtex</label>
                <textarea name="bibtex" class="enable-ref modifyinput" placeholder="{{queryall.id_ref.bibtex}}" disabled>{{queryall.id_ref.bibtex}}</textarea>
                <label>Repository Doi</label>
                <input type="text" name="repdoi" class="enable-ref modifyinput" value="{{queryall.id_ref.repositorydoi}}" placeholder="{{queryall.id_ref.repositorydoi}}" disabled>
                <label>Data Link</label>
                <input type="text" name="datalink" class="enable-ref modifyinput" value="{{queryall.id_ref.datalink}}" placeholder="{{queryall.id_ref.datalink}}" disabled>
                <input type="hidden" name="ref">
                <input type="submit" name="update" class="enable-ref updateBtn" value="Update" disabled>
            </form>
        </div>
        <div class="info-ref">
            <p><i>Other file(s) linked to this Reference</i>:</p>
                {% if queryRef.count < 2 %}
                    <p>&emsp;None</p>
                {% endif %}
            <ul>
                {%for qr in queryRef %}
                    {% if qr.filename != queryall.filename %}
                        <li>
                            <a href="{% url 'detail' qr.filename %}" target="_blank">{{qr.filename}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            
        </div>

    </div>
    <hr>
    <div class="modify-method">
        <h3>Method:</h3>
        <p class="edit-paragraph">Click to edit&nbsp;<input type="image" class="enable-method" src="{% static 'compare/images/pencil.svg' %}" onclick="enable(this)"></p>
        <div class="form-method">
            <form method="post">
                {% csrf_token %}
                <label>Method</label>
                <select name="methodns" class="enable-method modifyinput" disabled>  
                    <option value="{{queryall.id_method.method}}">{{queryall.id_method.method}}</option>
                    {% for lm in listmethod %}
                        {% if lm != queryall.id_method.method %}
                            <option value="{{lm}}">{{lm}}</option>
                        {% endif %}
                    {%endfor%}
                </select>
                <label>Method Specific</label>
                <textarea name="methodspe" class="enable-method modifyinput" value="{{queryall.id_method.method_specific}}" placeholder="{{queryall.id_method.method_specific}}" disabled>{{queryall.id_method.method_specific}}</textarea>
                <label>Data Date</label>
                <input type="text" name="datadate" class="enable-method modifyinput" value="{{queryall.id_method.datadate}}" placeholder="{{queryall.id_method.datadate}}" disabled>
                <label>Processing Info</label>
                <textarea name="processinfinfo" class="enable-method modifyinput" placeholder="{{queryall.id_method.processinfinfo}}" disabled>{{queryall.id_method.processinfinfo}}</textarea>
                <input type="hidden" name="method">
                <input type="submit" name="update" class="enable-method updateBtn" value="Update" disabled>
            </form>
            
        </div>
        <div class="info-method">
            <p><i>Other file(s) linked to this Method</i>:</p>
                {% if queryMethod.count < 2 %}
                    <p>&emsp;None</p>
                {% endif %}
            <ul>
                {%for qm in queryMethod %}
                    {% if qm.filename != queryall.filename %}
                        <li>
                            <a href="{% url 'detail' qm.filename %}" target="_blank">{{qm.filename}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            
        </div>
    </div>
    <hr>
    <div class="modify-constrain">
        <h3>Constraint:</h3>
        <p class="edit-paragraph">Click to edit&nbsp;<input type="image" class="enable-constrain" src="{% static 'compare/images/pencil.svg' %}" onclick="enable(this)"></p>
        <div class="form-constrain">
            <form method="post">
                {% csrf_token %}
                <label>Constraint Type</label>
                <select name="constrainT" class="enable-constrain modifyinput" disabled>
                    <option value="{{queryall.id_constrain.constraintype}}">{{queryall.id_constrain.constraintype}}</option>
                    {% for lc in listconstrain %}
                        {% if lc != queryall.id_constrain.constraintype %}
                            <option value="{{lc}}">{{lc}}</option>
                        {% endif %}
                    {%endfor%}
                </select>

                <label>Constraint Version</label>
                <input type="number" name="constrainV"class="enable-constrain modifyinput" value="{{queryall.id_constrain.constrainversion}}" placeholder="{{queryall.id_constrain.constrainversion}}" disabled>
               
                <label>Constraint Variable</label>
                <select name="constrainVar" class="enable-constrain modifyinput" disabled>
                    <option value="{{queryall.id_constrain.constrainvariable}}">{{queryall.id_constrain.constrainvariable}}</option>
                    {% for lcv in listconstrainvar %}
                        {% if lcv != queryall.id_constrain.constrainvariable %}
                            <option value="{{lcv}}">{{lcv}}</option>
                        {% endif %}
                    {%endfor%}
                </select>
                <input type="hidden" name="constrain">
                <input type="submit" name="update" class="enable-constrain updateBtn" value="Update" disabled>
            </form>
        </div>
        <div class="info-constrain">
            <p><i>Other file(s) linked to this Constrain</i>:</p>
                {% if queryConstrain.count < 2 %}
                    <p>&emsp;None</p>
                {% endif %}
            <ul>
                {%for qc in queryConstrain %}
                    {% if qc.filename != queryall.filename %}
                        <li>
                            <a href="{% url 'detail' qc.filename %}" target="_blank">{{qc.filename}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>
    <hr>
    <div class="modify-model">
        <h3>Model dependencies:</h3>

        <button onclick="showHide(this)" class="addModDep">Add new model dependency</button>
        <div id="addModDep">
            <form method="post">
                {% csrf_token %}
                <label>Dependencies Primary</label>
                <input class="insertinput enabledinput" type="text" name="dependenciesprimary_new" id="dependenciesprimary" placeholder="Dependencies Primary" maxlength="60" minlength="5">
                <label>Dependencies Secondary</label>
                <input class="insertinput enabledinput" type="text" name="dependenciessecondary_new" id="dependenciessecondary" placeholder="Dependencies Secondary" maxlength="60" minlength="5">
                <label>Dependencies Description</label>
                <textarea class="insertinput enabledinput" name="dependenciesdescription_new" id="dependenciesdescription" placeholder="Dependencies Description"></textarea>
                <label>Dependencies References</label>
                <textarea class="insertinput enabledinput" name="dependenciesreferences_new" id="dependenciesreferences" placeholder="Dependencies References"></textarea>
                <input type="hidden" name="modelAdd" value="formAddModel">
                <input type="submit" class="addMA" id="createDep" name="add" value="Add">
            </form>
        </div>

        <div class="form-model"> 
            {%for qmo in queryModel %}
                {%for i in qmo %}
                    <p class="edit-paragraph">Click to edit&nbsp;<input type="image" class="method{{i.id_model}}" src="{% static 'compare/images/pencil.svg' %}" onclick="enable(this)"></p>
                    <div class="form-constrain">
                        <form method="post">
                            {% csrf_token %}
                            <label>Dependency Primary</label>
                            <input type="text" name="dependenciesprimary" class="method{{i.id_model}} modifyinput" value="{{i.dependenciesprimary}}" placeholder="{{i.dependenciesprimary}}" disabled>
                            <label>Dependency Secondary</label>
                            <input type="text" name="dependenciessecondary" class="method{{i.id_model}} modifyinput" value="{{i.dependenciessecondary}}" placeholder="{{i.dependenciessecondary}}" disabled>
                            <label>Dependency Description</label>
                            <textarea name="dependenciesdescription" class="method{{i.id_model}} modifyinput" placeholder="{{i.dependenciesdescription}}" disabled>{{i.dependenciesdescription}}</textarea>
                            <label>Dependency References</label>
                            <textarea name="dependenciesreferences" class="method{{i.id_model}} modifyinput" placeholder="{{i.dependenciesreferences}}" disabled>{{i.dependenciesreferences}}</textarea>
                            <input type="hidden" name="model" value="{{i.id_model}}">
                            <input type="submit" class="method{{i.id_model}} updateBtn" name="update" value="Update" disabled>
                            <input type="submit" onclick="return confirm('Are you sure you want to delete this model dependency ?')" class="method{{i.id_model}} deleteBtn" name="delete" value="Delete" disabled>
                        </form>
                    </div>
                    <div class="info-model">
                        <p><i>Other file(s) linked to this model dependency</i>:</p>
                        {% for qmolK , qmolV in queryModellinked.items %}
                            {% if qmolK == i.id_model %}
                                <ul>
                                    {% for cle in qmolV %}
                                        <li> 
                                            <a href="{% url 'detail' cle.filename.filename %}" target="_blank">{{cle.filename.filename}}</a><br>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}  
        </div>
    </div>
    <hr>
    <div class="modify-assumptions">
        <h3>Assumptions:</h3>

        <button onclick="showHide(this)" class="addAssumption">Add new assumption</button>
        <div id="addAssumption">
            <form method="post">
                {% csrf_token %}
                <label>Assumptions Primary</label>
                <input class="insertinput enabledinput" type="text" name="assumptionsprimary_new" id="assumptionsprimary" placeholder="Assumptions Primary" maxlength="60" minlength="5">
                <label>Assumptions Secondary</label>
                <input class="insertinput enabledinput" type="text" name="assumptionssecondary_new" id="assumptionssecondary" placeholder="Assumptions Secondary" maxlength="60" minlength="5">
                <label>Assumptions Description</label>
                <textarea class="insertinput enabledinput" name="assumptionsdescription_new" id="assumptionsdescription" placeholder="Assumptions Description"></textarea>
                <label>Assumptions References</label>
                <textarea class="insertinput enabledinput" name="assumptionsreferences_new" id="assumptionsreferences" placeholder="Assumptions References"></textarea>
                <input type="hidden" name="assumptionAdd" value="formAddAssumptions">
                <input type="submit" class="addMA" id="createAss" name="add" value="Add">
            </form>
        </div>

        <div class="form-assumptions">
            {%for qass in queryAssumption %}
                {%for j in qass %}
                    <p class="edit-paragraph">Click to edit&nbsp;<input type="image" class="assumption{{j.id_assumptions}}" src="{% static 'compare/images/pencil.svg' %}" onclick="enable(this)"></p>
                    <div class="form-constrain">
                        <form method="post">
                            {% csrf_token %}
                            <label>Assumption Primary</label>
                            <input type="text" name="assumptionsprimary" class="assumption{{j.id_assumptions}} modifyinput" value="{{j.assumptionsprimary}}" placeholder="{{j.assumptionsprimary}}" disabled>
                            <label>Assumption Secondary</label>
                            <input type="text" name="assumptionssecondary" class="assumption{{j.id_assumptions}} modifyinput" value="{{j.assumptionssecondary}}" placeholder="{{j.assumptionssecondary}}" disabled>
                            <label>Assumption Description</label>
                            <textarea name="assumptionsdescription" class="assumption{{j.id_assumptions}} modifyinput" placeholder="{{j.assumptionsdescription}}" disabled>{{j.assumptionsdescription}}</textarea>
                            <label>Assumption References</label>
                            <textarea name="assumptionsreferences" class="assumption{{j.id_assumptions}} modifyinput" placeholder="{{j.assumptionsreferences}}" disabled>{{j.assumptionsreferences}}</textarea>
                            <input type="hidden" name="assumption" value="{{j.id_assumptions}}">
                            <input type="submit" class="assumption{{j.id_assumptions}} updateBtn" name="update" value="Update" disabled>
                            <input type="submit" onclick="return confirm('Are you sure you want to delete this assumption ?')" class="assumption{{j.id_assumptions}} deleteBtn" name="delete" value="Delete" disabled>
                        </form>
                    </div>
                    <div class="info-assumptions">
                        <p><i>Other file(s) linked to this assumption</i>:</p>
                        {% for qassK , qassV in queryAssumptionlinked.items %}
                            {% if qassK == j.id_assumptions %}
                                <ul>
                                    {% for cle in qassV %}
                                        <li>
                                            <a href="{% url 'detail' cle.filename.filename %}" target="_blank">{{cle.filename.filename}}</a><br>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}