{% extends "compare/layout.html" %}
{% block title %}
Plot
{% endblock %}

{% block content %}

{% if alert_message %}
    <script>alert("{{ alert_message }}");</script>

    <br><br>

    <div id="go-back-container">
        <a id="go-back" href="{% url 'visu' %}">Go back</a>
    </div>
{% else %}
  
<div id="plot-container">
    
    {% if html_graphs %}
        {{ html_graphs|safe }}
    {% endif %}

    <div class="checkboxesContainer">
        <div id="sigmaContainer">
            <h3>Sigmas</h3>
            {% for contour in extracted_contours %}
                <input class="color-checkbox" type="checkbox" value="{{ contour }}" checked>{{ forloop.revcounter }}σ<br>
            {% endfor %}
        </div>

        <br><br>

        <div id="filesContainer">
            <h3>Files</h3>
            {% for filename in filenames %}
                <label class="label-filename">
                    <input class="file-checkbox" type="checkbox" value="{{ filename }}" checked>{{ filename }}<br>
                </label>
            {% endfor %}
        </div>

        <br><br>

        <div id="subfoldersContainer">
            <h3>EOS Models</h3>
            {% for subfolder, unique_color in subfolders_and_colors %}
                <label class="label-subfolder">
                    <input class="subfolder-checkbox" type="checkbox" value="{{ unique_color }}" checked>{{ subfolder }}<br>
                </label>
            {% endfor %}
        </div>
    </div>

</div>
<br><br>

<div id="go-back-container">
    <a id="go-back" href="{% url 'visu' %}">Go back</a>
</div>

{% endif %}

{% endblock %}