{% extends "compare/layout.html" %}
{% block title %}
Visu_data
{% endblock %}
{% block content %}

{% load static %}

<div class="visu">

<div class="side_menu">
    <form class="form">
        <input type="checkbox" name="NS_Spin" value="NS Spin"class="check">
        <label for="NS_Spin">NS Spin</label>
       
        <br>

        <input type="checkbox" name="Transiently_Accreting_NS" value="Transiently_Accreting_NS" class="check" >
        <label for="Transiently_Accreting_NS">Transiently Accreting NS</label>
       
        <br>

        <input type="checkbox" name="NS_Mass" value="NS Mass" class="check">
        <label for="NS_Mass">NS Mass</label>
       
        <br>

        <input type="checkbox" name="NS-NS_mergers" value="NS-NS mergers" class="check">
        <label for="NS-NS_mergers">NS-NS_mergers</label>
        
        <br>

        <input type="checkbox" name="PPM" value="PPM" class="check">
        <label for="PPM">PPM</label>
        
        <br>

        <input type="checkbox" name="qLMXB" value="qLMXB" class="check">
        <label for="qLMXB">qLMXB</label>
        
        <br>

        <input type="checkbox" name="Cold_MSP" value="Cold MSP" class="check" >
        <label for="Cold_MSPs">Cold MSP</label>
       
        <br>

        <input type="checkbox" name="Thermal_INSs" value="Thermal INSs" class="check">
        <label for="Thermal_INSs">Thermal INSs</label>  
        
        <br>

        <input type="checkbox" name="Type-I_X-ray_bursts" value="Type-I X-ray bursts" class="check">
        <label for="Type-I_X-ray_bursts">Type-I X-ray bursts</label>
        
    </form>
</div>


<div class="content">
    
    <div class="filter">
        <div class="content-filter">

            <button id="show" class="multiple" onclick="hideShow(this)"> More filters</button>

            <div class="search">
                <input type="text" id="Search" name="Search" placeholder="Search">
                <input type="image" id="btn" src="{% static 'compare/search.svg' %}" onclick="searchFilter()">
            </div>

            <div class="button">
                <button id="dwnlF" onclick="downloadFile()">Download Files</button>
                <button id="dwnlB" onclick="bibtexFile()">Download Bibtex</button>
            </div>
        </div>
            <div id="multiple">
                <div class="multiple-content">
                    <div class="flexSelect">
                        <label for="list_methods">Method</label>
                        <select name="list_methods" id="list_methods" multiple>
                            {% for qm in queryMeth|dictsort:"method" %}
                                <option class="Meth" value="{{qm.method}}">{{qm.method}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_variable">Constrain Variable</label>
                        <select name="list_variable" id="list_variable" multiple>
                            {% for qv in queryConV|dictsort:"constrainvariable" %}
                                <option class="ConsV" value="{{qv.constrainvariable}}">{{qv.constrainvariable}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_constrain_type">Constrain Type</label>
                        <select name="list_constrain_type" id="list_constrain_type" multiple>
                            {% for qt in queryConT|dictsort:"constraintype" %}
                                <option class="ConsT" value="{{qt.constraintype}}">{{qt.constraintype}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_dep_primary">Model Primary</label>
                        <select name="list_dep_primary" id="list_dep_primary" multiple>
                            {% for qd in queryDep %}
                                <option class="Dep" value="{{qd.dependenciesprimary}}">{{qd.dependenciesprimary}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_dep_secondary">Model Secondary</label>
                        <select name="list_dep_secondary" id="list_dep_secondary" multiple>
                            {% for qds in queryDepS %}
                                <option class="DepS" value="{{qds.dependenciessecondary}}">{{qds.dependenciessecondary}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_assumptions_primary">Assumptions Primary</label>
                        <select name="list_assumptions_primary" id="list_assumptions_primary" multiple>
                            {% for qa in queryAss %}
                                <option class="Ass" value="{{qa.assumptionsprimary}}">{{qa.assumptionsprimary}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_assumptions_secondary">Assumptions Secondary</label>
                        <select name="list_assumptions_secondary" id="list_assumptions_secondary" multiple>
                            {% for qas in queryAssS %}
                                <option class="Ass2" value="{{qas.assumptionssecondary}}">{{qas.assumptionssecondary}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="button-vld">
                        <button id="vld" onclick="searchFilter()">Valider</button>
                    </div>
                </div>
                
            
        </div>
    </div>

    <div class="tab">
        <table>
            <thead>
                <tr>
                    <th>More info</th>
                    <th>Source name</th>
                    <th>Database Class</th>
                    <th>Method</th>
                    <th>Method details</th>
                    <th>Constraint Type</th>
                    <th>Constraint Version</th>
                    <th>Constraint Variable</th>
                    <th>Model dependencies</th>
                    <th>Analysis assumptions</th>
                    <th>Reference</th>
                    <th>Download</th>
                    <th><img src="{% static 'compare/check.svg' %}" onclick="selectall()"><img src="{% static 'compare/square.svg' %}" onclick="unselectall()"></th>
                </tr>
            </thead>

            <tbody id="secondTable"></tbody>

            <tbody id="firstTable">
                {% for q , m , a, datalink in queryall %}
                <tr>
                    <td><a href="{% url 'detail' q.filename %}" target="_blank"><img src="{% static 'compare/plus.svg' %}" alt="icon more" width=30em /></a></td>
                    <td>{{ q.id_name.namedb }}</td>
                    <td>{{ q.id_name.classdb }}</td>
                    <td>{{ q.id_method.method }}</td>
                    <td>{{ q.id_method.method_specific }}</td>
                    <td>{{ q.id_constrain.constraintype }}</td>
                    <td>{{ q.id_constrain.constrainversion }}</td>
                    <td>{{ q.id_constrain.constrainvariable }}</td>
                    <td>
                        {% for mprim, msec in m %}
                            <li><u>{{mprim}}</u>: {{msec}}</li>
                        {% endfor %}
                    </td>
                    <td>
                        {% for aprim, asec in a %}
                            <li><u>{{aprim}}</u>: {{asec}}</li>
                        {% endfor %} 
                    </td>

                    <td><a href="https://doi.org/{{q.id_ref.doi}}" target="_blank">{{q.id_ref.author}} {{ q.id_ref.refyear}}</a></td>
                    <td>
                        <a href="{% static datalink %}" download="{% static datalink %}">
                            <img src="{% static 'compare/download.svg' %}" alt="icon download" width=30em />
                        </a>
                    </td>
                    <td><input type="checkbox" value='{{q.filename}}' class="dwnl" name="che"></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>



{% endblock %}