{% extends "compare/layout.html" %}
{% block title %}
Visu_data
{% endblock %}
{% block content %}

{% load static %}

<div class="visu">

<div class="side_menu">

    <div class="title-dclasses">
        <h2>Database Classes</h2>
    </div>

    <form class="form">
        <input type="checkbox" name="Cold_MSP" value="Cold MSP" class="check" >
        <label for="Cold_MSPs">Cold MSP</label>
       
        <br>

        <input type="checkbox" name="NS_Mass" value="NS Mass" class="check">
        <label for="NS_Mass">NS Mass</label>
       
        <br>

        <input type="checkbox" name="NS-NS Mergers" value="NS-NS mergers" class="check">
        <label for="NS-NS Mergers">NS-NS Mergers</label>
        
        <br>

        <input type="checkbox" name="NS_Spin" value="NS Spin"class="check">
        <label for="NS_Spin">NS Spin</label>
       
        <br>

        <input type="checkbox" name="PPM" value="PPM" class="check">
        <label for="PPM">PPM</label>
        
        <br>

        <input type="checkbox" name="qLMXB" value="qLMXB" class="check">
        <label for="qLMXB">qLMXB</label>
        
        <br>

        <input type="checkbox" name="Thermal_INSs" value="Thermal INSs" class="check">
        <label for="Thermal_INSs">Thermal INSs</label>  
        
        <br>

        <input type="checkbox" name="Transiently_Accreting_NS" value="Transiently_Accreting_NS" class="check" >
        <label for="Transiently_Accreting_NS">Transiently Accreting NS</label>
       
        <br>

        <input type="checkbox" name="Type-I_X-ray_bursts" value="Type-I X-ray bursts" class="check">
        <label for="Type-I_X-ray_bursts">Type-I X-ray bursts</label>
        
    </form>
</div>

<div class="content">
    
    <div class="filter">
        <div class="content-filter">

            <button id="show" class="multiple" onclick="hideShow(this)"> More Filters</button>

            <div class="search">
                <input type="text" id="Search" name="Search" placeholder="Search">
                <input type="image" id="btn" src="{% static 'compare/images/search.svg' %}" onclick="searchFilter()">
            </div>

            <div class="button">
                <button id="dwnlF" onclick="downloadFiles()">Download Files</button>
                <button id="dwnlB" onclick="bibtexFile()">Download Bibtex</button>
                <button id="showP" onclick="showPlot()">Show Plot</button>
            </div>
        </div>
            <div id="multiple">
                <div class="multiple-content">
                    <div class="flexSelect">
                        <label for="list_methods">Method</label>
                        <select name="list_methods" id="list_methods" multiple>
                            {% for qm in queryMeth %}
                                <option class="Meth" value="{{qm}}">{{qm}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_variable">Constraint Variable</label>
                        <select name="list_variable" id="list_variable" multiple>
                            {% for qv in queryConV %}
                                <option class="ConsV" value="{{qv}}">{{qv}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_constrain_type">Constraint Type</label>
                        <select name="list_constrain_type" id="list_constrain_type" multiple>
                            {% for qt in queryConT %}
                                <option class="ConsT" value="{{qt}}">{{qt}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_dep_primary">Model Primary</label>
                        <select name="list_dep_primary" id="list_dep_primary" multiple>
                            {% for qd in queryDep %}
                                <option class="Dep" value="{{qd}}">{{qd}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_dep_secondary">Model Secondary</label>
                        <select name="list_dep_secondary" id="list_dep_secondary" multiple>
                            {% for qds in queryDepS %}
                                <option class="DepS" value="{{qds}}">{{qds}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_assumptions_primary">Assumptions Primary</label>
                        <select name="list_assumptions_primary" id="list_assumptions_primary" multiple>
                            {% for qa in queryAss %}
                                <option class="Ass" value="{{qa}}">{{qa}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="list_assumptions_secondary">Assumptions Secondary</label>
                        <select name="list_assumptions_secondary" id="list_assumptions_secondary" multiple>
                            {% for qas in queryAssS %}
                                <option class="Ass2" value="{{qas}}">{{qas}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="button-vld">
                        <button id="vld" onclick="searchFilter()">Confirm</button>
                        <button id="reset" onclick="resetFilters()">Reset Filters</button>
                    </div>
                </div>
                
            
        </div>
    </div>

    <br>

    <div class="tab">
        <table>
            <thead>
                <tr>
                    <th>More Info</th>
                    <th>
                        <div class="column-header">
                            <span>Source Name</span>
                            <div class="sort-icons">
                                <span class="sort-icon" data-column="1" onclick="sortTable(1, this)">↕</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="column-header">
                            <span>Database Class</span>
                            <div class="sort-icons">
                                <span class="sort-icon" data-column="2" onclick="sortTable(2, this)">↕</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="column-header">
                            <span>Method</span>
                            <div class="sort-icons">
                                <span class="sort-icon" data-column="3" onclick="sortTable(3, this)">↕</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="column-header">
                            <span>Method Details</span>
                            <div class="sort-icons">
                                <span class="sort-icon" data-column="4" onclick="sortTable(4, this)">↕</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="column-header">
                            <span>Constraint Type</span>
                            <div class="sort-icons">
                                <span class="sort-icon" data-column="5" onclick="sortTable(5, this)">↕</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="column-header">
                            <span>Constraint Version</span>
                            <div class="sort-icons">
                                <span class="sort-icon" data-column="6" onclick="sortTable(6, this)">↕</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="column-header">
                            <span>Constraint Variable</span>
                            <div class="sort-icons">
                                <span class="sort-icon" data-column="7" onclick="sortTable(7, this)">↕</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="column-header">
                            <span>Model Dependencies</span>
                            <div class="sort-icons">
                                <span class="sort-icon" data-column="8" onclick="sortTable(8, this)">↕</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="column-header">
                            <span>Analysis Assumptions</span>
                            <div class="sort-icons">
                                <span class="sort-icon" data-column="9" onclick="sortTable(9, this)">↕</span>
                            </div>
                        </div>
                    </th>
                    <th>
                        Reference
                    </th>
                    <th>Download</th>
                    <th><img src="{% static 'compare/images/check.svg' %}" onclick="selectall()"><img src="{% static 'compare/images/square.svg' %}" onclick="unselectall()"></th>
                </tr>
            </thead>

            <tbody id="secondTable"></tbody>

            <tbody id="firstTable">
                {% for q , m , a, datalink, file_exists in queryall %}
                <tr>
                    <td><a href="{% url 'detail' q.filename %}" target="_blank"><img src="{% static 'compare/images/plus.svg' %}" alt="icon more" width=30em /></a></td>
                    <td>{{ q.id_name.namedb }}</td>
                    <td>{{ q.id_name.classdb }}</td>
                    <td>{{ q.id_method.method }}</td>
                    <td>{{ q.id_method.method_specific }}</td>
                    <td>{{ q.id_constrain.constraintype }}</td>
                    <td>{{ q.id_constrain.constrainversion }}</td>
                    <td>{{ q.id_constrain.constrainvariable }}</td>
                    <td>
                        {% for mprim, msec, mdesc, mref_list in m %}
                            <li>
                                <u class="questionmark" onmouseover="showModelPopup(this, '{{ mprim }}', '{{ msec }}', '{{ mdesc }}', '{{ mref_list }}')" onmouseout="hideModelPopup()">
                                    {{ mprim }}
                                </u>: {{ msec }}
                            </li>
                        {% endfor %}
                    </td>
                    <td>
                        {% for aprim, asec in a %}
                            <li><u>{{aprim}}</u>: {{asec}}</li>
                        {% endfor %} 
                    </td>

                    <td><a href="https://doi.org/{{q.id_ref.doi}}" target="_blank">{{q.id_ref.author}} {{ q.id_ref.refyear}}</a></td>
                    <td>
                        {% if file_exists %}
                            <a href="{% static datalink %}" download="{{q.h5_filename}}">
                                <img src="{% static 'compare/images/download.svg' %}" alt="icon download" width=30em />
                            </a>
                        {% endif %}
                    </td>
                    <td><input type="checkbox" value='{{q.h5_filename}}' class="dwnl" name="che"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}