{% extends "compare/layout.html" %}
{% block title %}
Visu_data
{% endblock %}
{% block content %}

<div class="visu">

<div class="side_menu">
    <form class="form">
        <input type="checkbox" name="NS_Spin" value="NS Spin"class="check">
        <label for="NS_Spin">NS Spin</label>
       
        <br>

        <input type="checkbox" name="Transiently_Accreting_NS" value="Transiently_Accreting_NS" class="check" >
        <label for="Transiently_Accreting_NS">Transiently Accreting NS</label>
       
        <br>

        <input type="checkbox" name="NS_Mass" value="NS Mass" class="check">
        <label for="NS_Mass">NS Mass</label>
       
        <br>

        <input type="checkbox" name="NS-NS_mergers" value="NS-NS mergers" class="check">
        <label for="NS-NS_mergers">NS-NS_mergers</label>
        
        <br>

        <input type="checkbox" name="PPM" value="PPM" class="check">
        <label for="PPM">PPM</label>
        
        <br>

        <input type="checkbox" name="qLMXB" value="qLMXB" class="check">
        <label for="qLMXB">qLMXB</label>
        
        <br>

        <input type="checkbox" name="Cold_MSPs" value="coldMSP" class="check" >
        <label for="Cold_MSPs">Cold MSPs</label>
       
        <br>

        <input type="checkbox" name="Thermal_INSs" value="Thermal INSs" class="check">
        <label for="Thermal_INSs">Thermal INSs</label>  
        
        <br>

        <input type="checkbox" name="Type-I_X-ray_bursts" value="Type-I X-ray bursts" class="check">
        <label for="Type-I_X-ray_bursts">Type-I X-ray bursts</label>
        
    </form>
</div>


<div class="content">
    
    <div class="filter">
        <div class="content-filter">

            <button id="show" class="multiple" onclick="hideShow(this)"> More filters</button>

            <div class="search">
                <input type="text" id="Search" name="Search" placeholder="Search">
                <input type="image" id="btn" src="..\static\compare\search.svg" onclick="searchFilter()">
            </div>

            <div class="button">
                <button id="dwnlF" onclick="downloadFile()"> Download Files</button>
                <button id="dwnlB" onclick="bibtexFile()">Download Bibtex</button>
            </div>
        </div>
            <div id="multiple">
                <div class="multiple-content">
                    <div class="flexSelect">
                        <label for="MethList">Method</label>
                        <select name="MethList" id="MethList" multiple>
                            {% for qm in queryMeth %}
                                <option class="Meth" value="{{qm.method}}">{{qm.method}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="ConsVList">Constrain Variable</label>
                        <select name="ConsVList" id="ConsVList" multiple>
                            {% for qv in queryConV %}
                                <option class="ConsV" value="{{qv.constrainvariable}}">{{qv.constrainvariable}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="ConsTList">Constrain Type</label>
                        <select name="ConsTList" id="ConsTList" multiple>
                            {% for qt in queryConT %}
                                <option class="ConsT" value="{{qt.constraintype}}">{{qt.constraintype}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="DepList">Model Primary</label>
                        <select name="DepList" id="DepList" multiple>
                            {% for qd in queryDep %}
                                <option class="Dep" value="{{qd.dependenciesprimary}}">{{qd.dependenciesprimary}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="DepSList">Model Secondary</label>
                        <select name="DepSList" id="DepSList" multiple>
                            {% for qds in queryDepS %}
                                <option class="DepS" value="{{qds.dependenciessecondary}}">{{qds.dependenciessecondary}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="AssList">Assumptions Primary</label>
                        <select name="AssList" id="AssList" multiple>
                            {% for qa in queryAss %}
                                <option class="Ass" value="{{qa.assumptionsprimary}}">{{qa.assumptionsprimary}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flexSelect">
                        <label for="Ass2List">Assumptions Secondary</label>
                        <select name="Ass2List" id="Ass2List" multiple>
                            {% for qas in queryAssS %}
                                <option class="Ass2" value="{{qas.assumptionssecondary}}">{{qas.assumptionssecondary}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="button-vld">
                        <button id="vld" onclick="searchFilter()">Valider</button>
                    </div>
                </div>
                
            
        </div>
    </div>

    <div class="tab">
        <table>
            <thead>
                <tr>
                    <th>More</th>
                    <th>Namedb</th>
                    <th>Classdb</th>
                    <th>Method</th>
                    <th>Method Specific</th>
                    <th>Constrain Type</th>
                    <th>Constrain Version</th>
                    <th>Constrain Variable</th>
                    <th>Dependencies Primary</th>
                    <th>Assumptions Primary</th>
                    <th>Reference</th>
                    <th>Download</th>
                    <th><img src="../static/compare/check.svg" onclick="selectall()"><img src="../static/compare/square.svg" onclick="unselectall()"></th>
                </tr>
            </thead>

            <tbody id="secondTable"> </tbody>

            <tbody id="firstTable">
                {% for q , m , a in queryall %}  
                <tr>
                    <td><a href="{% url 'detail' q.filename %}" target="_blank"><img src="../static/compare/plus.svg" alt="icon more" width=30em /></a></td>
                    <td>{{ q.id_name.namedb }}</td>
                    <td>{{ q.id_name.classdb }}</td>
                    <td>{{ q.id_method.method }}</td>
                    <td>{{ q.id_method.method_specific }}</td>
                    <td>{{ q.id_constrain.constraintype }}</td>
                    <td>{{ q.id_constrain.constrainversion }}</td>
                    <td>{{ q.id_constrain.constrainvariable }}</td>
                    <td>
                        {% for mm in m %}
                            <li>{{mm}}</li>
                        {% endfor %}
                    </td>

                    <td>
                        {% for aa in a %}
                            <li>{{aa}}</li>
                        {% endfor %} 
                    </td>
                    <td><a href="{{q.id_ref.doi}}" target="_blank">{{q.id_ref.author}} {{ q.id_ref.refyear}}</a></td>

                    <td> <a href='{{q.filepath}}' download="{{q.filepath}}"><img src="../static/compare/download.svg" alt="icon download" width=30em /></a></td>

                    <td><input type="checkbox" value='{{q.filename}}' class="dwnl" name="che"></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>



{% endblock %}